<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.UserFollowMapper">
    <sql id="columns">
        select id,user_id,house_id,create_time,update_time,is_deleted
    </sql>
    <select id="findByUserIdAndHouseId" resultType="UserFollow">
        <include refid="columns"></include>
        from user_follow
        where user_id = #{userId} and house_id = #{houseId}
    </select>

    <update id="update">
        update user_follow set is_deleted=#{isDeleted},update_time=now() where id=#{id}
    </update>

    <insert id="insert">
        insert into user_follow(user_id,house_id)
        values(#{userId},#{houseId})
    </insert>

    <sql id="columnsVo">
        select uf.id,uf.user_id,uf.house_id,uf.create_time,uf.update_time,
               hc.name communityName,
               hh.name,hh.build_area,hh.total_price,hh.default_image_url,
               hh.house_type_id,hh.floor_id,hh.direction_id,
               (select name from hse_dict where id=hh.house_type_id) houseTypeName,
               (select name from hse_dict where id=hh.floor_id) floorName,
               (select name from hse_dict where id=hh.direction_id) directionName
    </sql>
    <select id="findListPage" resultType="UserFollowVo">
        <include refid="columnsVo"></include>
        from user_follow uf
        left join  hse_house hh on uf.house_id = hh.id
        left join hse_community hc on hh.community_id = hc.id
        where uf.is_deleted=0
        and hh.is_deleted=0
        and hc.is_deleted=0
        and uf.user_id=#{userId}
        order by uf.id desc
    </select>
</mapper>