<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.AdminRoleMapper">
    <sql id="columns">
        select id,role_id,admin_id,create_time,update_time,is_deleted
    </sql>
    <select id="findRoleIdListByAdminId" resultType="long">
        select role_id from acl_admin_role where admin_id=#{id} and is_deleted=0
    </select>

    <update id="deleteByAdminIdAndRoleIds">
        update acl_admin_role set is_deleted=1,update_time=now()  where admin_id=#{adminId}
        <foreach collection="deleteRoleIdList" item="roleId" open=" and role_id in (" separator="," close=")">
            #{roleId}
        </foreach>
    </update>

    <select id="findByAdminIdAndRoleId" resultType="AdminRole">
        <include refid="columns"></include>
        from acl_admin_role
        where admin_id=#{adminId} and role_id=#{roleId} and is_deleted=0
    </select>

    <update id="update">
        update acl_admin_role set is_deleted=0,update_time=now() where admin_id=#{adminId} and role_id=#{roleId}
    </update>

    <insert id="insert">
        insert into acl_admin_role(role_id,admin_id) values(#{roleId},#{adminId})
    </insert>
</mapper>